# LaTeX temporary files
*.aux
*.log
*.toc
*.lof
*.lot
*.out
*.synctex.gz
*.fls
*.fdb_latexmk
*.bbl
*.blg
*.dvi
*.idx
*.ilg
*.ind
*.bcf
*.run.xml
*.nav
*.snm
*.vrb
*.soc
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.lol
*.maf
*.mtc
*.mtc0
*.slg
*.syg
*.syi
*.synctex
*.tdo
*.tld
*.tls
*.wrt
*.xdy*

# Editor temporary files
*~
.*.swp
.*.swo
.DS_Store

# Keep important files
!*.pdf
!*.png
!*.jpg
!*.jpeg
!*.gif
!*.eps
!*.svg
!*.bib
!*.tex
!*.sty
!*.cls
!*.bst
!*.def
!*.cfg
!*.clo
!*.ldf
!*.fd
!*.ins
!*.dtx
!*.bbx
!*.cbx
!*.lbx
!*.dbx
!*.mbs 